//
// Font
//

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

$main-font: Inter, sans-serif;

//
// Colors
//

$white: #ffffff;
$black: #1a1a1a;

$main-black: #1a1a1a;
$background: #ffffff;
$grey-1: #808080;
$grey-2: #d9d9d9;
$extra-blue: #4d88ff;
$extra-blue-hover: #447ae5;
$extra-yellow: #ffaa00;
$extra-yellow-hover: #ffbb33;

//
// Wrapper
//

$wrapper-width: 960px;

//
// Header
//

$header-height: 56px;
