//
// ************* Padding *************
//

//
// ---- Vertical ----
// Utilities for setting the vertical padding of an element.
//

// Element vertical padding: top: 4px, bottom: 4px.
.pv-4 {
  padding: 4px 0px;
}
// Element vertical padding: top: 8px, bottom: 8px.
.pv-8 {
  padding: 8px 0px;
}
// Element vertical padding: top: 16px, bottom: 16px.
.pv-16 {
  padding: 16px 0px;
}
// Element vertical padding: top: 24px, bottom: 24px.
.pv-24 {
  padding: 24px 0px;
}
// Element vertical padding: top: 32px, bottom: 32px.
.pv-32 {
  padding: 32px 0px;
}
