.movie-card {
  overflow: hidden;
  flex: 0 1 calc((100% / 3) - 12px);
  background-color: $background;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  cursor: pointer;
  transition: 0.4s;
  transition-timing-function: ease-in-out;

  &:hover {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.16);
  }
  &:hover .hover-row {
    opacity: 1;
  }
}

.card-header {
  min-height: 104px;
  padding: 16px 12px;
  background: $background;
}

.card-poster-container {
  height: 435px;
  // width: 100%;
  // aspect-ratio: 1 / 1;
  background: $grey-1;
  position: relative;

  .hover-row {
    opacity: 0;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
  }

  img {
    object-fit: cover;
  }
}

.card-header__title {
  overflow: hidden;
  max-height: 48px;
  @include font-style(500, 20px, 24px, $main-black);
}

.card-header__subtitle {
  @include font-style(400, 16px, 16px, $grey-1);
}

.rating-badge,
.bookmark-btn-small {
  @include font-style(500, 16px, 16px, $background);
  padding: 8px 16px;
}

.rating-badge {
  border-radius: 0px 12px 0px 0px;
  background: $extra-yellow;
  padding: 8px 16px 8px 10px;
}

.bookmark-btn-small {
  border-radius: 12px 0px 0px 0px;
  background: $extra-blue;
}
